body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #90caf9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container{
  height: 40vh;
}
.dog-image{
  max-height: 100%;
  width: 100%;
}
.top-padding{
  height: 20vh;
}
.custom-spinner{
  padding-left: 35%;
}
.question{
  width: 100%;
 text-align: center;
 font-size: 4em;
}
.difficulty_menu{
  font-family: monospace, 'monospace'
}

.difficulty-hint{
  padding-right: 2%;
}
.setting-hint{
  font-size: 3em;
}